
/* Google Poppins Font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

    --hue-color: 100;
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color),8%,85%);
    --body-color: hsl(var(--hue-color),19%,5%);
    --box-color: hsl(var(--hue-color),14%,10%);

    /*Font and Typography*/
    --body-font: 'Poppins', sans-serif;

    /*Margenes Bottom*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1:1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5:2.5rem;
    --mb-3: 3rem;

    /*Font Weight*/
    --font-medium:500;
    --font-bold:600;
}


body, button, input  {
    font-family: var(--body-font);
}


body {
    background-color: var(--body-color);
    color: var(--text-color);
}

.container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

/* For Desktop, no header */

.header {
    display: none;
}

/* Hambuger icon is nav__toggle */

.nav__toggle {
    font-size: 1.6rem;
    cursor: pointer;
    color: var(--title-color);
}

.nav__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

/* Tablet only social shift */

@media screen and (max-width: 1024px) and (min-width:577px) {

    .header__social {
        display: flex;
        align-items: center;
        gap: 3.5rem;
    }

    .header__social-follow {
        font-weight: var(--font-medium);
        position: relative;
    }

    .header__social-follow::after {
        content: "";
        width: 1rem;
        height: 2px;
        background-color: var(--text-color);
        top: 50%;
        right: -45%;
        position: absolute;
    }
}

/* Tablet and mobile only screens */

@media screen and (max-width: 1024px) {

    .container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }

    .header {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;    
        height: 60px;
        background-color: var(--body-color);
        border-bottom: 1px solid var(--box-color);
        z-index: 1000;
    }
}